<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />
	
	<!-- [1] User 빈 설정 -->
	<bean id="derella" class="sec02_annotation.part04_example1.User">
		<constructor-arg value="kim" />
		<constructor-arg value="1234" />
	</bean>
	
	<bean id="defectio" class="sec02_annotation.part04_example1.User">
		<constructor-arg value="choi" />
		<constructor-arg value="5678" />
		<qualifier value="userDTO" />
	</bean>
	
	<!-- [2] ServiceImp 빈 설정 -->
	<bean id="svc" class="sec02_annotation.part04_example1.ServiceImp" />
	
</beans>